/*--------------------------------------------------------------------------------------------------------------------||
||  Footer                                                                                                            ||
||--------------------------------------------------------------------------------------------------------------------*/

/*  TYPOGRAPHY: Footer
------------------------------------------------------------*/
.site-copyright {
  @extend %font-sans;
  font-size: 0.6875rem;
  letter-spacing: 0.05em;
}

/*  DECORATION: Footer
------------------------------------------------------------*/

/*  LAYOUT: Footer
------------------------------------------------------------*/
.site-copyright {
  float: right;
  margin-bottom: 3rem;
}

.site-footer {
  margin-top: 6rem;
  overflow: hidden;

  &:after {
    @include clearfix;
  }
}
