/*--------------------------------------------------------------------------------------------------------------------||
||  Site Branding                                                                                                     ||
||--------------------------------------------------------------------------------------------------------------------*/
.site-header {
  background-color: rgb(40, 40, 40);
  margin-bottom: 2.25rem;
}

.site-header__branding {
  background-color: $color-white;
  display: block;
  position: absolute;
  height: 3.9525rem;
  top: -1px;
  width: 4.75rem;
  z-index: 10;

  &:before,
  &:after {
    border: 1rem solid $color-white;
    border-radius: 2rem;
    background-color: $color-white;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2rem;
    z-index: -1;
  }

  &:before {
    left: -2rem;
  }

  &:after {
    right: -2rem;
  }

}

.site-header__home-link {
  background: rgb(40, 40, 40) url('../img/jw_monogram_trans.png') center center no-repeat;
  background-size: contain;
  bottom: -6px;
  display: block;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  text-indent: -9999px;
  top: 6px;

  &:hover {
    background-color: rgb(130, 160, 40);
    transition: background-color 0.125s ease-in;
  }
}

.site-header__inner {
  padding: 0 0 0.375rem 0;
  margin: 0 auto;
  max-width: $width-max--outer;
  position: relative;
  width: 90%;
}

