/*--------------------------------------------------------------------------------------------------------------------||
||  Site Branding                                                                                                     ||
||--------------------------------------------------------------------------------------------------------------------*/
.site-branding {
  @include clearfix;
  border-bottom: 1px solid $color-border__heading;
  margin: 0 auto 1.5rem 0;
  position: relative;
  padding: 50px 10px 10px 10px;
  z-index: 1;

  @include bp($bp__phone--lg) {
    margin: 0 auto 4rem auto;
    padding: 0 0 0.5rem 1rem;
    width: 90%;
  }
}

.site-branding__home-link {
  bottom: 0;
  display: block;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}

.site-branding__logo {
  @include transition(background-color 300ms ease-in);
  background: $color-text-primary url('../img/jw_monogram_trans.png') top left no-repeat;
  @include background-size(95px, 79px);
  display: inline-block;
  height: 79px;
  left: 0;
  padding: 0;
  position: relative;
  top: 0;
  width: 95px;
  margin: auto;
  z-index: 1;

  &:hover {
    background-color: $color-background-accent;
    @include transition(background-color 300ms ease-in);
  }

  &.nav-open {
    background-color: $color-background-accent;
    @include transition(background-color 300ms ease-in);
  }
}

.site-branding__logo-container {
  background-color: white;
  float: left;
  top: 0;
  width: 105px;

  @include bp($bp__phone--lg) {
    left: 0;
    position: absolute;
  }
}

/*--------------------------------------------------------------------------------------------------------------------||
||  Site Details                                                                                                      ||
||--------------------------------------------------------------------------------------------------------------------*/
.site-details {
  line-height: 1.2;
  position: relative;

  @include bp($bp__phone--lg) {
    margin-left: 100px;
    z-index: 2;
  }
}

.site-details__description {
  font-size: 1rem;

  @include bp($bp__phone--lg) {
    font-size: 1.125rem;
    letter-spacing: 0.02em;
  }
}

.site-details__title {
  @extend %font-sans-alt;
  font-size: 1.0625rem;
  letter-spacing: 0.02em;
  line-height: 1;
  text-transform: uppercase;

  @include bp($bp__phone--lg) {
    font-size: 2rem;
  }
}
